# .easignore – huwag i-upload sa EAS build
node_modules/
.git/
.gitignore
*.log
.expo/
.expo-shared/
android/app/src/debug/
android/app/build/
ios/build/
ios/Pods/
ios/Podfile.lock
coverage/
dist/
build/
.env*
.env.local
.env.development
.env.production
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig
*.DS_Store
Thumbs.db
*.iml
.idea/
.vscode/
*.tmp
*.bak
*.swp
*.swo.assets/*.exe
assets/*.zip
assets/*.dmg